.table {
  box-shadow: 0 0.5rem 1rem #00000026;
  border-radius: 10px;
  /* height: 200px; */
}
.btn-book {
  padding: 10px 10px;
  background-color: var(--primaryColor);
  color: #fff;
  border-radius: 5px;
}
